@using AuctionApp.Core
@model AuctionApp.Models.Auction.AuctionDetailsVm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AuctionDetailsVm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desciption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desciption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningBid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpeningBid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>
    </dl>
</div>
<p/>

<div>
    <h4>Tasks</h4>
    <table class="table">
        <thead>
        <tr>
            <th>
                <b>User</b>
            </th>
            <th>
                <b>Bid amount</b>
            </th>
            <th>
                <b>Bid date</b>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.BidsVm.OrderByDescending(b => b.BidAmount))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BidAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BidDate)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<p>
    <a asp-action="PlaceBid" asp-route-auctionId="@Model.Id">Place bid</a>
</p>
<div>
    <a asp-action="Index">Back to List</a>
</div>
